html,
body {
    width: 400px;
}

.hidden {
    display: none;
}

input[type="radio"] {
    margin: 3% auto;
}

button {
    border: none;
    width: 100%;
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #e5f2f2;
}

button:hover {
    background-color: #cff2f2;
}
